/* CCS geral */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* list-style: none; */
    text-decoration: none;
    scroll-behavior: smooth;
    /* scroll-padding-top: 3.5rem; */
}

:root {
    --bg-color: #070707;
    --second-bg-color: #101010;
    --third-bg-color: #212121;
    --text-color: #fff;
    --second-color: #c6c9d8bf;
    --main-color: #cf0303;
    --big-font: 3.3rem;
    --h2-font: 1.2rem;
    --p-font: 1rem;
    --h3-font: 1.1rem;

}

section,
footer {
    overflow: hidden;
    white-space: wrap;
    word-break: break-word;
}

html {
    scroll-behavior: smooth;
    font-family: 'Josefin Sans', sans-serif;


}

/* body {
    background: var(--bg-color);
    color: var(--text-color);
} */

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: var(--h2-font);
    font-weight: 400;
}

h3 {
    font-size: var(--h3-font);
    font-weight: 400;
}

span {
    color: #cf0303;
}

p {
    font-size: var(--p-font);
    margin-top: 10px;
    line-height: 1.5rem;
    font-weight: 300px;

}


.section-title {
    font-size: var(--big-font);
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 5px;
    letter-spacing: .2rem;
    text-align: center;
}

/* Animações */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes text_reveal {
    100% {
        color: white;
    }
}


/* No Select */
.home,
header,
.about,
.graduation,
.projects,
.contact .section-title,
.footer {
    -webkit-touch-callout: none;

    -webkit-user-select: none;

    -khtml-user-select: none;

    -moz-user-select: none;

    -ms-user-select: none;

    user-select: none;
}



/* Home */

#home {
    background-image: url(./img/facebgcompressed.png);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    color: var(--text-color);
    background-color: #070707;
    /* animation: fadeIn 3s; */
}

#home::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--bg-color);
    opacity: .4;
    z-index: -1;
}

#home .home {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: flex-start;
    text-align: justify;
}

#home h1 {
    display: block;
    width: fit-content;
    position: relative;
    margin: 10px 0px 10px;
    font-size: var(--big-font);
}

#home h2 {
    font-size: var(--h2-font);
    color: var(--text-color);
    width: fit-content;
    display: block;
    position: relative;
}

#home h3 {
    display: block;
    width: fit-content;
    position: relative;
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

#home h4 {
    display: block;
    width: fit-content;
    position: relative;
    font-size: 20px;
    letter-spacing: 1px;
    color: #585c63;
}

#home h1 span {
    color: var(--main-color);
}



#home span {
    color: var(--main-color);
}


#home .cta {
    display: inline-block;
    padding: 15px 20px;
    color: var(--text-color);
    background-color: transparent;
    border: 2px solid var(--main-color);
    font-size: var(--h1-font);
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 120px;
    transition: .3s ease background-color;
    transition-property: background-color, color;
    font-weight: 800;

}

#home .cta:hover {
    color: var(--text-color);
    background-color: var(--main-color);
}


/* Sobre */

#about {
    background-color: var(--second-bg-color);
    color: #fff;
}

/* #about .section-title {} */

#about .about-bottom {
    padding-top: 20px;
    text-align: justify;
}

#about .about {
    flex-direction: column;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}


#about .col-left {
    width: 100%;
}

#about .col-right {
    width: 100%;
}


#about .col-left .about-img {
    position: relative;
}

/* Graduation */

#graduation {
    background-color: var(--bg-color);
    color: var(--text-color);

}


#graduation .graduation-top {
    text-align: center;
    display: flex;
    flex-direction: column;
}


#graduation .section-title {
    text-align: center;
}

#graduation .graduation {
    flex-direction: column;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 10px;
}


#graduation .graduation-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

#graduation .graduation-item {
    flex-basis: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--third-bg-color);
    margin: 5px 2%;
    z-index: 1;
    position: relative;
    overflow: hidden;
    /* animation: fadeIn 3s; */
    box-shadow: 0px 0px 18px 0 var(--second-bg-color);
    transition: .3s ease box-shadow;
}

#graduation .graduation-item:hover {
    box-shadow: 0px 0px 5px 0 var(--text-color);
}

#graduation .graduation-item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--third-bg-color);
    opacity: 1;
    z-index: -1;
}

#graduation .graduation-item h2 {
    color: var(--text-color);

}

#graduation .graduation-item p {
    color: var(--text-color);
    text-align: center;
}


/* Projects */


#projects {
    background-color: var(--second-bg-color);
    color: var(--text-color);
    display: flex;
}

/* #project .section-title {
    width: fit-content;
} */

#projects .projects {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
    flex-direction: column;
    overflow: hidden;
}

#projects .projects-header h1 {
    margin-bottom: 50px;
}

#projects .all-projects {
    display: grid;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#projects .project-info {
    padding: 10px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(180deg, #202020 10%, var(--third-bg-color) 100%);
    text-align: justify;
}

#projects .project-info h1 {
    font-size: 3rem;
    font-weight: 500;
}

#projects .project-info h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
}

#projects .project-info p {
    color: var(--text-color);
    font-size: var(--p-font);
}

#projects .project-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#projects .project-img::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
}

#projects .project-img img {
    transition: .3s ease transform;
}

#projects .project-item:hover .project-img img {
    transform: scale(1.1);
}


/* Contato */

#contact {
    background-color: var(--bg-color);
    color: #fff;    
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#contact .section-title {
    margin-bottom: 50px;
}

#contact .icon {
    font-size: 40px;
    margin: 0 auto;
    margin-bottom: 5px;
}

/* #contact .section-title {
    margin-top: 80px;
} */

#contact .contact {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
    flex-direction: column;
    overflow: hidden;
}

#contact .contact-items {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#contact .contact-item {
    background-color: var(--third-bg-color);
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 10px 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 var(--third-bg-color);
    transition: .3s ease box-shadow;
}

#contact .contact-item h2{
    padding-top: 10px;
}

#contact .contact-item:hover {
    box-shadow: 0px 0px 5px 0 var(--text-color);
}


/*Foooter */

#footer {
    background-color: var(--second-bg-color);
    color: var(--text-color);
    display: flex;
}

#footer .footer {
    min-height: 100px;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 10px;
}

.brand h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

.brand span {
    color: #cf0303;
}

#footer h2 {
    margin-bottom: 5px;
}

#footer .social-icon {
    display: flex;
}

#footer .social-item {
    margin: 10px 5px;
    font-size: 1.5rem;
}

#footer .social-item ion-icon {
    transition: .3 ease transform;
}

#footer .social-item:hover ion-icon {
    transform: scale(1.1);
}

#footer p {
    font-size: .8rem;
    text-align: center;
}


/* Media para tablet */
@media only screen and (min-width:768px) {
    .cta {
        font-size: 2.5rem;
        padding: 20px 60px;
    }

    h2 {
        font-size: 2.6rem;
    }
    p {
        font-size: 1.6rem;
    }

    h1.section-title {
        font-size: 6rem;
    }

    /* Home */
    #home h1 {
        font-size: 7rem;
    }


    /*Formação*/

    #graduation .graduation-bottom .graduation-item {
        flex-basis: 45%;
        margin: 2.5%;
    }

    /*Projetos*/
    #projects .project-item:nth-child(even) {
        flex-direction: row-reverse;
    }

    #projects .project-item {
        flex-direction: row;
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }

    #projects .all-projects .project-info {
        height: 100%;
    }

    #projects .all-projects .project-img {
        height: 100%;
    }
}






/* Contato */



/* Header */
/* header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 25px 15%;
    transition-duration: .3s;
    animation: fadeIn 4s;
}

.logo {
    color: var(--text-color);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}

.navbar {
    display: flex;

}

.navbar li {
    position: relative;
}

.navbar a {
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.5rem;
    padding: 10px 20px;

}

.navbar a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: var(--main-color);
    left: 0;
    bottom: -4px;
    transition: ease .25s;
}

.navbar a:hover::after {
    width: 100%;
}

#menu-icon {
    font-size: 32px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    display: none;

}

.h-btn {
    padding: 5px 10px;
    height: 40px;
    display: inline-block;
    background: var(--main-color);
    color: var(--text-color);
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 1px;
    transition: all .30s;
    align-items: center;
}


#logo-whatsapp {
    font-size: 30px;
    text-align: center;
}

.h-btn:hover {
    transform: translateY(-5px);
}

section {
    padding: 120px 15%;
}

header.sticky {
    padding: 12px 15%;
    background: var(--main-color);
}

.sticky .navbar a::after {
    background: var(--text-color);
}

.sticky .h-btn {
    background: var(--text-color);
    color: var(--main-color);
} */


/* Pagina Inicial */
/* .home {
    height: 100vh;
    width: 100%;
    background-image: url(./img/facebgcompressed.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    background-color: #070707;
    animation: fadeIn 3s;
}

.home-text h1 {
    margin: 20px 0px 20px;
    font-size: var(--big-font);
}

span {
    color: var(--main-color);
}

.home-text h3 {
    font-size: 25px;
    margin-bottom: 55px;
    letter-spacing: 2px;
}

.home-text h4 {
    color: #585c63;
    font-size: 20px;
    letter-spacing: 1px;
} */


/* Sobre */
/* .about {
    background: var(--second-bg-color);
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 2rem;
    align-items: center;
}

.about-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    position: relative;
    display: flex;
}


.about-text h2 {
    font-size: var(--h2-font);
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.about-text h5 {
    font-size: 28px;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

.about-text p {
    color: var(--second-color);
    letter-spacing: 1px;
    line-height: 28px;
    max-width: 590px;
    font-size: var(--p-font);
    margin-bottom: 45px;

} */


/* Formação */
/* .formacao {
    background: var(--bg-color);
    text-align: center;
    align-items: center;
    display: grid;
}

.center {
    text-align: center;
}

.center h2 {
    font-size: var(--h2-font);
    margin-bottom: 15px;
}

.center p {
    color: var(--second-color);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: var(--p-font);
}

.formacao-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 4.5rem;
    text-align: center;
}

.row {
    background: var(--second-bg-color);
    padding: 55px 30px;
    border-radius: 10px;
    transition: all .35s;
}

.row h3 {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
}

.row p {
    color: var(--second-color);
    line-height: 30px;
    font-size: var(--p-font);
}

.row:hover {
    transform: translateY(-8px);
} */


/* Portifólio */
/* .portifolio {
    background: var(--second-bg-color);
}

.portifolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 4.5rem;
    cursor: pointer;
    max-width: 100%;
}

.box img {
    max-width: 100%;
    width: 500px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all .30s;
}

.box h5 {
    color: var(--second-color);
    font-size: var(--p-font);
    margin-bottom: 15px;
    text-align: center;
}

.box h4 {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
}

.box img:hover {
    transform: scale(1.1);
} */


/* Contato */
/* .contact {
    background: var(--bg-color);
    display: grid;
    align-items: center;
    text-align: center;
}

.contact-form h2 {
    font-size: var(--h2-font);
    margin-bottom: 15px;
    text-align: center;
}

.contact-form p {
    color: var(--second-color);
    line-height: 28px;
    font-size: var(--p-font);
    letter-spacing: 1px;
    margin-bottom: 4.1rem;
}


/* Footer */
/* .footer {
    text-align: center;
    background: var(--second-bg-color);
    padding: 34px;
}

.footer p {
    color: var(--second-color);
    font-size: 17px;
    letter-spacing: 1px;
}
 */

/* Para Tablets */
/* @media (max-width: 1270px) {
    header {
        padding: 18px 4%;
        transition: .2s;
    }

    .home {
        height: 100vh;
    }

    header.sticky {
        padding: 10px 4%;
        transition: .2s;
    }

    section {
        padding: 100px 4%;
        transition: .2s;
    }

    :root {
        --big-font: 4.8rem;
        --h2-font: 3.8rem;
        --p-font: 1rem;
        transition: .2s;
    }

} */


/* Para Celulares */
/* @media (max-width: 980px) {
    .home {
        height: 100vh;
    }

    #menu-icon {
        display: initial;
    }

    .navbar {
        position: absolute;
        top: -700px;
        left: 0;
        right: 0;
        flex-direction: column;
        background: var(--bg-color);
        text-align: left;
        transition: all .30s;
    }

    .navbar a {
        display: block;
        padding: 1.1rem;
        margin: 1.3rem;
        border-left: 2px solid var(--text-color);
        font-size: 1rem;
    }

    .navbar a:hover {
        background: var(--main-color);
    }

    .navbar a::after {
        display: none;
    }

    .navbar.active {
        top: 100%;
    }

    .home-text h1 {
        font-size: 3.3rem;
    }

    .home-text h4 {
        font-size: 16px;
    }

    .home-text h3 {
        font-size: 20px;
    }

    .portifolio h5 {
        text-align: justify;
    }

    .about {
        grid-template-columns: 1fr;
    }

    .about-img {
        margin-bottom: 30px;
        text-align: center;
    }

    .about-img img {
        max-width: 100%;
        width: 700px;
        height: auto;
    }

    .about-text h2,
    h5 {
        text-align: center;
    }

    .about-text p {
        text-align: justify;
    }

    .contact p {
        text-align: justify;
    }
} */